/*--------------------------------------------------------------------------
  5. TEMA ESMERALDA (Esmeralda Neón / Ciber)
   -------------------------------------------------------------------------- */
[data-theme="emerald"] {
    --bg-dark: #04140d;
    --bg-slate: #092419;
    --bg-panel: #0e3626;
    
    --mc-green: #10b981;
    --mc-green-shadow: #047857;
    --mc-green-hover: #34d399;
    
    --mc-red: #ef4444;
    --mc-red-shadow: #b91c1c;
    --mc-red-hover: #f87171;
    
    --mc-gray: #1b4d38;
    --mc-gray-shadow: #0f3324;
    --mc-gray-hover: #26694d;
    
    --mc-yellow: #f59e0b;
    --mc-yellow-shadow: #b45309;
    
    --mc-white: #ffffff;
    --mc-border: #1a5c42;
    --text-primary: #ecfdf5;
    --text-secondary: #6ee7b7;
}